$primary-color: red;
$none: none;
$font-size: 20px;
$font-family: Arial, Helvetica, sans-serif;

post-container{
    text{
        font-size: 30px;
        color: $primary-color;
    }
    
}
input{
    font-size: $font-size;
    font-family: $font-family;
    color: $primary-color;
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    height: 30px;
    font-size: 15px;
    outline: none;
  
}
